doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Gulp smpl layout builder
    link(rel="stylesheet", href="public/css/main.css")
  body(class="min-h-[100vh]")
    block body

    script(src="public/js/bundle.min.js")
    block script
